name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: "Node ${{ matrix.node-version }}"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x]

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: volta-cli/action@v1
      with:
        node-version: ${{ matrix.node-version }}
        yarn-version: 1.22.4
    - name: Install pnpm
      uses: pnpm/action-setup@v2.2.4
      with:
        version: 6.32.3
    - run: yarn install --frozen-lockfile
    - run: yarn lint:js
    - run: yarn test
